body {
  background-color: lightsalmon;
}
i {
  margin: 30px;
  font-size: 20px;
}
#main {
  margin: 20px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: margin-left .3s;
  
}

header {
  display: flex;
  justify-content:flex-start;
  
}
.closebtn {
  position:absolute;
  left: 200px;
  top:10px;
  font-size: 20px;
}

#sidenav {
  width:0;
  height: 100%;
  position: fixed;
  padding-top: 50px;
  z-index: 1;
  top:0;
  left:0;
  background-color: white;
  overflow-x: hidden;
  transition:0.3s;
}

a {
  color:black;
  text-decoration: none;
}
a:hover {
  color: lightsalmon;
}

